<a href="https://colab.research.google.com/github/rakshaknidhi/PYTHONPROGRAMS/blob/master/Dictionary_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#create dictionary
dic={ }  #empty dictionary
print(dic)
print(type(dic))
d=dict()
print(d)
print(type(d))
d={1:"x",2:"y",3:"z"}
print(d)
print(d.keys())
print(d.values())
print(d.items())

{}
<class 'dict'>
{}
<class 'dict'>
{1: 'x', 2: 'y', 3: 'z'}
dict_keys([1, 2, 3])
dict_values(['x', 'y', 'z'])
dict_items([(1, 'x'), (2, 'y'), (3, 'z')])

In [ ]:
#four ways to create dictionary
d1= {"a":"apple","b":"orange","c":"mango"}
d2=dict(a="apple",b="orange",c="mango")
d3=dict([("a","apple"),("b","orange"),("c","mango")])
d4=dict({"a":"apple","b":"orange","c":"mango"})
print(d1==d2==d3==d4)

True

In [ ]:
#check equality
d1={1:99,2:67,3:55}
d2={1:99,2:67,3:55}
print(d1==d2)

d={1:"xx",2:"yy",3:"uu"}
print(d[1])#1 indicate key

#create empty dictionary and add item
d1=dict()
d1[1]="one"
d1[2]="two"
d1[3]="three"
d1[4]="four"
print(d1)

True
xx
{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [ ]:
d={1:"xx",2:"yy",3:"uu"}
print(d[1])#1 indicate key

xx

In [ ]:
#dictionary traversal
d={1: 'one', 2: 'two', 3: 'three', 4: 'four'}
for i in d:
    print(i,end=" ")#keys print
print()
for i in d:
    print(d[i],end=" ")#value of key print
print()
for i in d.values():
    print(i,end=" ")
print()
for i in d:
    print("key=>",i,"value=>",d[i])#value of key print

1 2 3 4
one two three four
one two three four
key=> 1 value=> one
key=> 2 value=> two
key=> 3 value=> three
key=> 4 value=> four

In [ ]:
#update
d1={1: 'one', 2: 'two', 3: 'three', 4: 'four'}
d2={5:"five"}
d1.update(d2)
print(d1)
print(d2)

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}
{5: 'five'}

In [ ]:
#len()
d={ 2: 'two',1: 'one',4: 'four',3: 'three'}
print(len(d))

4

In [ ]:
#d.clear()
#formkey
keys=[1,2,3,4]
d=dict.fromkeys(keys,"one")
print(d)

{1: 'one', 2: 'one', 3: 'one', 4: 'one'}

In [ ]:
#get(some_key,[default value])
d={1: 'one', 2: 'two', 3: 'three', 4: 'four'}
print(d.get(2,"key not present"))#mila tao valu otherwise string print

two

In [ ]:
#update
d1={1: 'one', 2: 'two', 3: 'three', 4: 'four'}
d2={5:"five"}
d1.update(d2)
print(d1)
print(d2)

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}
{5: 'five'}

In [ ]:
#del
d1={1: 'one', 2: 'two', 3: 'three', 4: 'four'}
del d1[1]
print(d1)
del d1
print(d1)#error dictionary deleted

{2: 'two', 3: 'three', 4: 'four'}

NameError: name 'd1' is not defined

In [ ]:
#pop()
d={1: 'one', 2: 'two', 3: 'three', 4: 'four'}
d.pop(1)#by default last key pair deleted
print(d)
#print(d.pop()) #no argument genertae error

{2: 'two', 3: 'three', 4: 'four'}

In [ ]:
#sorted
d={ 2: 'two',1: 'one',4: 'four',3: 'three'}
print(sorted(d.items()))#all keys sorted and store in list
d={ 2: 'two',1: 'one',4: 'four',3: 'three'}
print(sorted(d,reverse=True))

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]
[4, 3, 2, 1]