<a href="https://colab.research.google.com/github/rakshaknidhi/PYTHONPROGRAMS/blob/master/programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
s1="sbjain"
print(s1.upper()) #SBJAIN
s1="Computer Department Python "
print(s1.isupper()) #False
count=0
for i in s1:
    if i.isupper():
        count+=1
print(count)

SBJAIN
False
3

In [ ]:
s1="SBJAIN college 54678"
countdigit=countalpha=countspace=0
for i in s1:
    if i.isdigit():
        countdigit+=1
    if i.isalpha():
        countalpha+=1
    if i.isspace():
        countspace+=1
    if i.isalnum():
        countalphanum+=1
print(countdigit)
print(countalpha)
print(countspace)

5
13
2

In [ ]:
s="Welcome to python programing"
print(s.count("p",1))

2

In [ ]:
s="Welcome to python programing"
print(s.find("p",1,5))
print(s.index("p"))

-1
11

In [ ]:
s="welcome to python programming"
print(s.find("p"))#find first index  position of p ie: 11
print(s.index("p"))#also same
print(s.find("p",12))#find p from 12 index to end
print(s.index("p",12))#same like find
print(s.find("p",1,13))#find p from 1 to 12 index
print(s.index("p",1,13))#same like find
#difference in both
print(s.find("k"))  #give -1
print(s.index("k")) #give error value error

11
11
18
18
11
11
-1

ValueError: substring not found

In [ ]:
def count_vowels(s):
    vowels = "aeiouAEIOU"
    return sum(1 for char in s if char in vowels)

print(count_vowels("Hello World"))  # Output: 3

3

In [ ]:
s=" sbjain"
print(s)# its print as it is
print(s.lstrip())#remove left space
#rstrip
s="sbjain     "
print(s)
print(s.rstrip())#its remove but nor see
#to see rstrip
s="sbjain     "
print(len(s))#its count all
print(len(s.rstrip()))#after remove ight space
#strip remove both side space

 sbjain
sbjain
sbjain
sbjain
11
6

In [ ]:
text = "Python Programming"

print(text[0])
print(text[-1])

P
g

In [ ]:
text = "Python Programming"

print(text[0:6])
print(text[7:10])

Python
Pro

In [ ]:
sentence = "SB Jain College"
words = sentence.split()

for word in words:
    print(f"{word}: {len(word)}")

SB: 2
Jain: 4
College: 7

In [ ]:
my_list1 = [10,11,12]
print(my_list1)
my_list2=list(["sbjain"])
print(my_list2)

[10, 11, 12]
['sbjain']

In [ ]:
my_list1=[1,"hindi",33,44,"edurekha"]
my_list2=list([454,"yogesh","sanjay",55,66,77])
print(my_list1)
print(my_list2)

[1, 'hindi', 33, 44, 'edurekha']
[454, 'yogesh', 'sanjay', 55, 66, 77]

In [ ]:
my_list1=[1,"hindi",33,44,"edurekha"]
print(my_list1[:])
print(my_list1[0:3])
print(my_list1[::-1])
print(my_list1[0:5:2])
print(my_list1[1][2])
print(my_list1[0::3])
print(my_list1[-1][1])

[1, 'hindi', 33, 44, 'edurekha']
[1, 'hindi', 33]
['edurekha', 44, 33, 'hindi', 1]
[1, 33, 'edurekha']
n
[1, 44]
d

In [ ]:
 l1=[11,22,33,44]
 l2=[55,66,77,88]
 print(l1+l2)
 print(l1*3)

[11, 22, 33, 44, 55, 66, 77, 88]
[11, 22, 33, 44, 11, 22, 33, 44, 11, 22, 33, 44]

In [ ]:
my_list1=[1,"hindi",33,44,"edurekha"]
my_list1.append([555,22] )    #USE OF APPEND FUNCTION
print(my_list1)
print(len(my_list1))
my_list1.extend([444,666])    #USE OF EXTEND FUN
print(my_list1)
print(len(my_list1))

[1, 'hindi', 33, 44, 'edurekha', [555, 22]]
6
[1, 'hindi', 33, 44, 'edurekha', [555, 22], 444, 666]
8

In [ ]:
my_list1=[1,"hindi",33,44,"edurekha"]
my_list1.insert(1,"sanjay")
print(my_list1)

[1, 'sanjay', 'hindi', 33, 44, 'edurekha']

In [ ]:
my_list1=[1, 'sanjay', 'hindi', 33, 44, 'edurekha']
print(my_list1.index("edurekha"))  #find index no. of element
print(my_list1.count("edurekha"))   #find how many times particular element in a given list
new = [11, 45, 22, 1, 3]
print(sorted(new))  # sorted new list element and print but original not change
print(new)             # ORIGINAL PRINT AS IT Is
new.sort(reverse=True)  #short original list in decending order if rev=true else accending order
print(new)
new.reverse()
print(new)

5
1
[1, 3, 11, 22, 45]
[11, 45, 22, 1, 3]
[45, 22, 11, 3, 1]
[1, 3, 11, 22, 45]